/* corpo del sito */
body{
    background-color: goldenrod;
    color: black;
    font-family: 'Roboto Serif', serif;
    margin: 15px;
}
/* setto il tag header - modifiche anche alla scritta logo */
header{
    background-color: goldenrod;
    color: #15ff15;
    padding: 3px;
}
/* setto la classe logo */
.logo{
    text-align: left;
}
.testo{
    text-align: right;
}
/* zona dei pulsanti con link */
nav{
    background-color: #000000;
    color: white;
    text-align: center;
    position: sticky;
}
/* setto il tag nav,ul */
nav ul{
    padding: 0%;
    margin: 0%;
}
/* setto il tag nav,ul,li */
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
/* setto il tag nav,ul,li,hover - passaggio del mouse */
nav ul li:hover{
    background-color: #35c8dba4;
}
/* setto il tag nav,ul,li,a */
nav ul li a{
    color: #00ff00;
    text-decoration: none;
}
/* setto la classe chi siamo */
.chi-siamo{
    text-align: center;
    color:red;
    text-decoration: none;
}
/* setto la classe ArduinoDenis */
.ArduinoDenis{
    background-color: #4fa1b0;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    width: 250px;
    padding: 15px;
    margin: 10px;
    margin-right: 5%;
    display: inline-block;
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
/* setto la classe ArduinoDenis,hover - passaggio del mouse */
.ArduinoDenis:hover{
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
/* setto la classe marisa */
.marisa{
    background-color: #4fa1b0;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    width: 250px;
    padding: 15px;
    margin: 10px;
    margin-right: 5%;
    display: inline-block;
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
/* setto la classe marisa,hover - passaggio del mouse */
.marisa:hover{
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
/* setto la classe gianfraschio */
.gianfraschio{
    background-color: #4fa1b0;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    width: 250px;
    padding: 15px;
    margin: 10px;
    margin-right: 5%;
    display: inline-block;
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
/* setto la classe gianfraschio,hover - passaggio del mouse */
.gianfraschio:hover{
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
/* setto la classe gianpiertolda */
.gianpiertolda{
    background-color: #4fa1b0;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    width: 250px;
    padding: 15px;
    margin: 10px;
    margin-right: 5%;
    display: inline-block;
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
/* setto la classe gianpiertolda,hover - passaggio del mouse */
.gianpiertolda:hover{
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
