/* reset css */
*{
    padding: 0%;
}
/* corpo del sito */
body{
    margin: 0%;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
}
/* setto il tag header - modifiche anche alla scritta logo */
header{
    background-color: #ff28db;
    color: #15ff15;
    padding: 3px;
}
/* setto due tipi di tag */
header h2, header span{
    display: inline-block;
}
/* setto la classe logo */
.logo{
    font-size: 200%;
}
/* setto la classe logo1 */
.logo1{
    max-width: 6%;
}
/* setto la classe nota */
.nota{
    float: right;
    position: relative;
    margin-top: 2%;
    margin-right: 15px;
    font-size: 121%;
}
/* setto la classe nota e il tag B */
.nota b{
    color: #0127ff;
}
/* setto la classe nota e il tag B */
#utente{
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
/* zona dei pulsanti con link */
nav{
    background-color: #000000;
    color: white;
    text-align: center;
    position: sticky;
}
/* setto il tag nav,ul */
nav ul{
    padding: 0%;
    margin: 0%;
    font-family: 'Russo One', sans-serif;
}
/* setto il tag nav,ul,li */
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
/* setto il tag nav,ul,li,hover - passaggio del mouse */
nav ul li:hover{
    background-color: #ff0000;
}
/* setto il tag nav,ul,li,a */
nav ul li a{
    color: #e5ff00;
    text-decoration: none;
}
/* setto la classe homeheader */
.homeheader{
    background-image: url(../images/sfondo2.jpg);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Russo One', sans-serif;
}
/* setto la classe labelbar */
.labelbar{
    color: white;
    background-color: rgba(95, 99, 112, 0.5);
    text-align: center;
    padding: 15px;
}
/* setto la classe labelbar e il tag h3 */
.labelbar h3{
    margin: 2%;
}
/* setto la classe tasto */
.tasto{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 200px;
    padding: 15px;
    margin: 10px;
}
/* setto la classe tasto,hover - passaggio del mouse */
.tasto:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-color: black;
}
/* setto l'id boxes */
#boxes{
    text-align: center;
    background-color: #275c66;
    padding: 15px;
}
/* setto la classe card */
.card{
    background-color: #4fa1b0;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Russo One', sans-serif;
    width: 250px;
    padding: 15px;
    margin: 10px;
    margin-right: 5%;
    display: inline-block;
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
/* setto la classe card,hover - passaggio del mouse */
.card:hover{
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
/* setto l'id staff */
#staff{
    text-align: center;
    background-image: url("../images/sfondostaff.jpg");
    padding: 15px;
    color: white;
}
/* setto la classe staffcard */
.staffcard{
    width: 300px;
    padding: 0%;
    background-color: #008807;
    color: white;
    display: inline-block;
    border: 1px solid #16282b;
    margin: 10px;
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
/* setto la classe descrizione_marisa */
.descrizione_marisa{
    margin: 6px;
    font-size: 12px;
}
/* setto la classe descrizione_marisa e il tag h4 */
.descrizione_marisa h4{
    margin: 6px;
    font-size: 12px;
}
/* setto la classe descrizione_gianpiertolda */
.descrizione_gianpiertolda{
    margin: 6px;
    font-size: 12px;
}
/* setto la classe descrizione_gianpiertolda e il tag h4 */
.descrizione_gianpiertolda h4{
    margin: 6px;
    font-size: 12px;
}
/* setto la classe staffcard - modifica foto */
.staffcard img{
    width: 100%;
}
/* setto la classe staffcard e il tag div */
.staffcard div{
    padding: 15px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
/* setto la classe staffcard e il tag span */
.staffcard span{
    background-color: red;
    border-radius: 200px;
    padding: 5px;
}
/* setto la classe fa - social */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
/* setto la classe fa,hover - passaggio del mouse */
  .fa:hover {
    opacity: 0.7;
}
/* setto la classe fa - colore del social */
/* github */
.fa-github {
background: #000000;
color: white;
}
/* setto la classe fa - colore del social */
/* youtube  */
.fa-youtube {
background: #fc0000;
color: white;
}
/* setto la classe fa - colore del social */
/* instagram */
.fa-instagram {
background: #3f729b;
color: white;
}
/* setto la classe footer */
footer {
    text-align: center;
    background-color: #214b61;
    color: white;
    padding: 15px;
}
/* setto la classe copyright */
.copyright{
    color: red;
    background-color: #171616;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
/* versione mobile */
#mobilemenu{
    display: none;
}